/* This is where my CSS styles are going to go! */
#quarantine {
  color: red;
}
#text {
  color: blue;
}
.body {
  background-color: #a8c1ff;
}
.body2 {
  background-color: #addec4;
}
.body3 {
  background-color: #d4af37;
}
.body4 {
  background-color: #000080;
}
