
body {
  background-color: #c0ebc4;
  }
.logo {
  width: 120px;
}
.bar {
  font-size: 30px;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(0,0,0,0);
    background-clip: border-box;
    border: none;
    border-radius: .25rem;
}
#carouselExampleFade {
  width: 800px;
  margin: auto;
}
#short {
  width: 400px;
}
#background {
  background-color: #f2fff6;
}
.form-group {
  margin-left: auto;

}
.color {
  background-color: plum;
  border: 1px solid rebeccaPurple;
  }
